{% extends "main1.html" %}
{% load static %}

{% block title %} 練習  {% endblock %}
{% block maincode %}


    <div class="col-10 row align-self-center position-absolute start-50 translate-middle-x" style="margin: 20px;">
      <div class="col-6">
        <br>
        <h1>練習</h1>
        <hr>
        <p id="b2">判斷2000年至2050年間有哪幾年是閏年並顯示出來。</p><br>
        <div class="card h-100">
          <div class="card-body" id="b2">
                <div id="b2" class="text-center position-absolute top-50 start-50 translate-middle">
                  可以是其他單元或練習題...
                </div>
          </div>
        </div>
        <div>
          <button class="bb position-absolute end-0">對答案</button>
        </div>
      </div>
      <div class="col-6 "><br>
        
        <div class="card h-100">
          <div class="card-body" id="b2">
            <h2>指引...</h2>
                <div id="b2" class="text-center">
                  可以是其他單元或練習題...
                </div>
                
          </div>
        </div>
      </div>
    </div>

    {% endblock %}