{% extends "main1.html" %}
{% load static %}

{% block title %} 會員登入  {% endblock %}
{% block maincode %}

  <!-- login程式 -->
  <div class="container col-6 col-sm-4 col-md-5 col-lg-6  text-center p-0 mt-5 mb-3 ">
    <form id="msform" method="POST" class="col align-self-center">
      {% csrf_token %}
      <fieldset style="background: transparent;">
        <div class="form-card ">
          <h2 class="fs-title">登入</h2><br>
          <div class="container">
            <div class="row offset-md-1">
              <div class="col-10">
                帳號：{{ form.email }}
                <br><span style="color: red;font-size: 16px;">{{ form.email.errors.0 }}</span>
                密碼：{{ form.password }}
                <br><span style="color: red;font-size: 16px;">{{ form.password.errors.0 }}</span>
              </div>
            </div>
            <div class="col-10" style="text-align: center;">
              還不是會員嗎？ <a style="cursor: pointer; text-decoration:underline;color:rgb(92, 186, 63);"
                onclick="location.href='/singup'">點此註冊</a>
            </div>
          </div>
        </div>
        <button class="next action-button" type="submit">登入</button>
      </fieldset>
    </form>
  </div>



  {% endblock %}