{% extends "main1.html" %}
{% load static %}

{% block title %} 會員註冊  {% endblock %}
{% block maincode %}

  <!-- singup程式 -->
  <div class="container col-6 col-sm-4 col-md-5 col-lg-6  text-center p-0 mt-5 mb-3 ">
    <form id="msform" method="POST" class="col align-self-center">
      {% csrf_token %}
      <fieldset style="background: transparent;">
        <div class="form-card ">
          <h2 class="fs-title">註冊</h2><br>
          <div class="container">
            <div class="row offset-md-1">
              <div class="col-10">
                {% for field in form %}
                <label>{{ field.label }}：</label>
                {{ field }}<br>
                {% endfor %}
                <br>
              </div>
            </div>
            <div class="col-10" style="text-align: center;">
              已經是會員嗎？ <a style="cursor: pointer; text-decoration:underline;color:rgb(92, 186, 63)"
                onclick="location.href='/login'">點此登入</a>
            </div>
          </div>
        </div>
        <button class="next action-button" type="submit">註冊</button>
      </fieldset>
    </form>
  </div>





  {% endblock %}