{% extends "main2.html" %}
{% load static %}

{% block title %} 判斷  {% endblock %}
{% block maincode %}
    <div class="col-10 row"style="margin-top: 20px;margin-left: 0px;">
      <div class="col-6">
        <br>
        <h1>判斷</h1>
        <hr>
        <h2 id="b2">if判斷</h2><br>
        <h5>sample text</h5>
      </div>
      <div class="col-6 "><br>
        
        <div class="card h-50">
          <div class="card-body" id="b2">
            <h2>指引...</h2>
                <div id="b2" class="text-center">
                  可以是其他單元或練習題...
                </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--sidebar fin-->



  {% endblock %}