{% extends "main2.html" %}
{% load static %}

{% block title %} 判斷  {% endblock %}
{% block maincode %}


<span class="col-10" id="g1">
  <h1>主題11  基本的輸入輸出</h1>
<nav >
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...1111</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...2222</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...3333</div>
</div>
</span>

    <!-- <div class="col-10 row"style="margin-top: 20px;margin-left: 0px;">
      <div class="col-6">
        <br>
        <h1>判斷</h1>
        <hr>
        <h2 id="b2">if判斷</h2><br>
        <h5>sample text</h5>
      </div>
      <div class="col-6 "><br>
        
        <div class="card h-50">
          <div class="card-body" id="b2">
            <h2>指引...</h2>
                <div id="b2" class="text-center">
                  可以是其他單元或練習題...
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>sidebar fin -->



  {% endblock %}